ENV=prod

DB_TYPE=mysql

MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_USER=root
MYSQL_PASSWORD=root123
MYSQL_DB=counter

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=counter

TFS_URL=http://localhost:8501/v1/models/ssd_mobilenet_v2:predict